.App {
  text-align: center;
  width: 90vw;
  margin: auto;
}

.App-header {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 90vw; */
  margin: 20px auto;
  flex-wrap: wrap;
}

.App-header img {
  height: 70px;
}

.nav {
  width: 40%;
}

.nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav a:hover {
  color: #ccc;
}

.main {

}