@font-face {
  font-family: Karla-medium;
  src: url(../src/assets/fonts/Karla-Medium.ttf);
}

@font-face {
  font-family: Markazi;
  src: url(../src/assets/fonts/MarkaziText-Regular.ttf);
}

.App {
  text-align: center;
  width: 100vw;
  /* margin: auto; */
}

/* Header */
.App-header {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 90vw; */
  margin: 20px auto;
  flex-wrap: wrap;
}

.App-header img {
  height: 70px;
}

.nav {
  width: 40%;
}

.nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav a:hover {
  color: #ccc;
}

.main {

}


/* Home Banner */
.home-banner {
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  background-color: #495E57;
}

.homebanner-text {
  text-align: left;
  justify-self: center;
  width: 375px;
}

.home-banner h1 {
  font-family: Markazi;
  font-size: 3.5em;
  font-weight: 700;
  margin: 0;
}

.homebanner-text p:first-of-type {
  font-family: Markazi;
  font-size: 2em;
  font-weight: 550;
  margin: 5px;
}

.homebanner-desc {
  margin: 1rem 0;
  font-family: Karla-medium;
}

.yello-btn {
  width: 10rem;
  height: 3rem;
  background-color: #F4CE14;
  font-weight: bold;
  border-radius: 5px;
}

.homebanner-img {
  width: 375px;
  height: 325px;
  object-fit: cover;
  border-radius: 5px;
}

/* Week Specials */
.weekspecial {
  margin: 0;
}

.weekspecial-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h2 {
  font-family: Markazi;
  font-size: 4rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding-bottom: 3rem;
}
.card1, .card2, .card3 {
  background-color: #EDEFEE;
  margin: 1em 1em;
  width: 265px;
  height: 450px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.card1 img, .card2 img, .card3 img {
  width: inherit;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  max-height: 175px
  /* border: 1px solid black; */
}

.card-desc {
  padding: 0 1em;
}

.card-title-price {
  display: flex;
  justify-content: space-between;
}
.card-title-price p {
  color: #EE9972;
}

.card-recipe {
  font-size: 1em;
  /* padding: 5px; */
}

.card-calltoaction {
  display: flex;
}

.card-calltoaction a {
  font-weight: bold;
}

.card-calltoaction img{
  margin-left: 20px;
}

/* Testimonials */
.testimonials {
  background-color: #D9D9D9;
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.testimonials-items {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  column-gap: 20px;
  grid-template-rows: 340px;
  justify-content: center;
  align-content: center;

}

.item {
  background-color: #fff;
  text-align: left;
  padding: 0 1rem;
  border-radius: 5px;
}

.item > img {
  height: 20px;
  margin: 20px 0 10px 0;
}


.commentor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.commentor img {
  height: 70px;
  margin-right: 10px;
  border-radius: 50%;
}

.item p:last-of-type {
  margin-top: 30px;
}

/* About */
.about {
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: 400px 400px;
  /* column-gap: 20px; */
  justify-content: center;
  align-items: center;
}

.about-desc {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.about-desc h2 {
  margin: 0;
}

.about-desc p:first-of-type{
  font-family: Markazi;
  font-size: 26pt;
  margin: 0;
}

.about img{
  position: relative;
  width: 250px;
  /* border-radius: 10px; */
}

.about img:first-of-type{
  top: 150px;
  left: 0;
}

.about img:last-of-type{
  z-index: 1;
  top: -111px;
  left: 70px 
}

/* *****************Footer Section******************* */
footer {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  background-color: #D9D9D9;
  /* align-items: center; */
  column-gap: 2rem;
  height: 35vh;
  padding-top: 2rem;
}

footer .doormat_navigation{
  text-align: left;
  list-style-type: none;
  line-height: 1.5em;
  padding-left: 0;
}

footer a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

footer h4 {
  text-align: left;
  margin-top: 0;
  color: #495E57;
}

.footer_contact {
  text-align: left;
}

/* ************************Reservation page*********************** */
.reservation-banner {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  background-color: #A3A3A3;
  padding: 3rem;
}

.reservation-banner-desc {
  width: 50%;
  text-align: left;
  justify-self: center;
  margin-left: 200px;
}

.reservation-banner-desc h1{
  font-family: Markazi;
  font-size: 37pt;
  margin: 0;
}

.reservation-banner-desc p:first-of-type {
  margin-top: 0;
}

.reservation-banner-desc p:last-of-type {
  margin-bottom: 3rem;
}

.reservation-banner-desc p {
  font-family: Karla-medium;
}

.reservation-banner img {
  height: 246px;
  margin-right: 73px;
}


.detail {
  width: 70vw;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail label {
  text-align: left;
  font-size: 1.3rem;
  font-family: 'Karla-medium';
  font-weight: bold;
}

.guest {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  column-gap: 30px;
}
.time {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  margin: 20px 0;
  column-gap: 30px;
}

#day {
  width: 80px;
}

#hour {
  width: 80px;
  margin-left: 40px;
}


.whereToSeat {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  column-gap: 30px;
}
.detail select{
  height: 30px;
  border-radius: 5px;
  background-color: #D9D9D9;
  font-family: 'Karla-medium';
  font-size: 1.2rem;
}

.typeOfCeremony {
  width: 68vw;
  margin: 3rem auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 40px);
  justify-content: center;
  justify-items: start;
}

fieldset {
  border-radius: 10px;
  border-width: 2px;
}

legend {
  padding: 5px 8px;
  margin-left: 50px;
  text-align: left;
  font-family: 'Markazi';
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

.typeOfCeremony label {
  font-weight: bold;
  margin-left: 2px;
}

.customerdescription {
  width: 70vw;
  text-align: left;
  margin: auto;
  font-weight: bold;
}

.customerdescription label {
  font-size: 2rem;
  font-family: Markazi;
  margin-left: 2rem;
}

#anythingtoadd {
  width: 68vw;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  height: 6rem;
}

.textareadesc {
  font-size: 0.65rem;
  margin: 0 2rem 0.5rem;
  text-transform: uppercase;
  font-style: italic;
  /* margin-left: 2rem; */
}

.submit {
  width: 70vw;
  margin: auto;
  text-align: left;
}

input[type="submit"] {
  margin-top: 3rem;
  width: 10rem;
  height: 3rem;
  background-color: #fff;
  /* color: #fff; */
  font-weight: bold;
  border-radius: 5px;
  font-family: Markazi;
  font-size: 1.2rem;

}

input[type="submit"]:active {
  background-color: #A3A3A3;
}

input[type="submit"]:checked {
  background-color: skyblue;
}